<div class="comment-box ml-1">
      <p style="margin: 5px">
      <%= comment.name %>
      <%= comment.comment %>
      </p>

      <% if current_user.email == comment.name %>
      <%= link_to [comment.post, comment],
                method: :delete, class: "delete-comment", data: { confirm: 'Are you sure?' } do %>
                <p style="margin: 5px">
                  <i class="fa-solid fa-trash"></i>
                </p>
      <% end %>
    <% end %>
</div>