<div class="container d-flex align-items-center">
    <p>
      <strong><%= comment.name %>:</strong>
      <%= comment.comment %>
    </p>
  <% if current_user.id == @post.user_id || current_user.email == comment.name %>
    <%= link_to 'Delete', [comment.post, comment],
                method: :delete, class: "btn btn-secondary", data: { confirm: 'Are you sure?' } %>
  <% end %> 
</div>