<div class='container-xl mb-2 mt-4'>
  <div class="row">
    <div class="col-4  text-center">
      <div class="card d-flex justify-content-center align-items-center" style="border: 1px dashed black;">
        <%= render 'users/partials/profile' %>
      </div>
    </div>
    <div class="col-8">
      <div class="row mb-3">
        <div class="card">
        <%= render 'users/partials/posts' %>
        </div>
      </div>
      <div class="row">
        <div class="card">
          <%= render 'users/partials/reviews' %>
        </div>
      </div>
    </div>
  </div>
</div>


