<div class="container-fluid d-flex justify-content-center align-items-center flex-column">
<%= render 'posts/form' %>
</div>
<%# initialize and load google map autocomplete feature %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script>
  function initialize() {
    var input = document.getElementById('searchTextField');
    new google.maps.places.Autocomplete(input);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>