.nav-item {
    color: white
}

#logout {
    text-decoration: none;
}

#logout:hover {
    color: white;
    transform: scale(1.03);
}


#navbar-links:hover {
    color: white;
    transform: scale(1.03);
}

