.nav-item {
    color: white;
    transform: scale(1.5);
}

.nav-item:hover {
    color: white;
    transform: scale(1.2);
}

#logout {
    text-decoration: none;
}

#logout:hover {
    color: white;
    transform: scale(1.03);
}


#navbar-links:hover {
    color: white;
    transform: scale(1.03);
}

