// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.map-container {
    height: 90vh;
}

.map {
    flex: 1;
    width: 80%;
    display: flex;
    margin-left: 10%;
    flex-direction: row;
<<<<<<< HEAD
    height: 100%; // add this
    border: 1px solid black;
=======
    height: 90%; // add this
>>>>>>> 0982e9d950a544aa8915e243cc04ad758500dbff
}


#maps {
    width: 40%;
    min-height: 450px; 
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.field-coordinates {
    display: none;
}

.search-location-bar {
    width: 400px;
    height: 35px;
}

.search-location-bar::placeholder {
    text-align: center;
}

.back-home {
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
}


.back-home-span:hover {
    background-color: rgb(81, 74, 74);
}

