.show-post-tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #282A3A;
    gap: 1rem;
    text-align: center;
}

.post-edit {
    color: #282A3A;
}

.post-edit:hover {
    color: #282A3A;
    transform: scale(1.2);
} 

#inquiry-count {
    text-decoration: none;
}

#inquiry-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    padding-top: 20px;
}