// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.postpet-title {
    color: blue;
}

.pawsome-title {
    font-family: 'Pacifico', cursive;
    display: flex;
    justify-content: center;
    font-size: 35px;
    margin-bottom: 30px;
}

.post-pet-container {
    display: flex;
    justify-content: flex-end;
}

.post-pet {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    text-decoration: none;  
    margin-left: 10px;
    margin-right: 20px;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: #86C8BC;
    padding: 5px 10px;
    border-radius: 2px; 
    display: inline-block;
    margin-top: 20px;
}

.post-pet:hover {
    color: white;
    transform: scale(1.02);
}

.post-ads {
    color: green;
    font-style: bold;
}

.post-category-wrapper {
    display: flex;
    flex-direction: column;
}
.post-category {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.show-post-report {
    
}

.show-post-report {
    display: flex;
    justify-content: flex-end;
    color: #282A3A;
    margin-right: 1rem;
}

.post-delete {
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-delete-btn {
    width: 100%;
}