.show-post-edit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 1rem;
    color: #282A3A;
}

.post-edit {
    color: #282A3A;
}

.post-edit:hover {
    color: #282A3A;
    transform: scale(1.2);
}