<div class="d-flex flex-column dashboard">

  <h1 class="mb-2">Admin Access: <%= current_user.email %></h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Users</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td class="mb-1 d-flex"><%= link_to user.email, admin_user_path(user) %></td>
          <td class="mb-1 d-flex"><%= link_to user.email, admin_user_path(user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
